@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-Regular.ttf');
}

body {
    background-color:rgb(240, 199, 241);
    background: cover;
    line-height: 22px;
    font-size: 120%;
    font-family: 'Montserrat';
    margin: 0px;
}
