@import url("header.css");
@import url("nav.css");
@import url("lil_nav.css");
@import url("footer.css");
@import url("global.css");


.modal {
    animation: fadeIn 0.3s ease-out;
}

/* Модальное содержимое */
.modal-content {
    padding: 45px; 
    padding-right: 62px; 
    border-radius: 20px;
    max-width: 602px;
    width: 90%;
    animation: modalAppear 0.3s ease-out;
}

.modal-dialog {
    max-width: 602px;
    margin: 1.75rem auto;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #161616;
}

/* Заголовок модального окна */
h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #a12582;
}

/* Метки для формы */
label {
    color: #555;
}

/* Стили для формы */
input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #007BFF;
}

/* Сообщения об ошибках */
.error-messages {
    color: #d9534f;
    margin-top: 15px;
    font-size: 14px;
}

/* Плейсхолдеры */
input::placeholder, textarea::placeholder {
    color: #aaa;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: #ddd;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input[type="checkbox"] {
    width: auto;
    margin: 0;
}

.checkbox-group .form-check {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
}

.checkbox-group .form-check-input {
    margin-top: 0;
}

.checkbox-group .form-check-label {
    margin: 0;
}

.btn-custom {
    background-color: #ac5b8a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #641343;
    color: white;
}

.btn-custom:active {
    transform: scale(0.98);
}

.order-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.order-block_item {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.order-block_item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order-block_item:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button {
    align-self: center;
    padding: 10px 20px;
    background-color: #ac5b8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover:not(:navbar-toggler) {
    background-color: #641343;
}

button:active {
    transform: scale(0.98);
}

.stext {
    margin-right: 40px;
    line-height: 23px;
    text-indent: 1.5rem;
}

.success-message {
    color: green; /* Цвет текста сообщения */
    font-size: 16px; /* Размер шрифта */
    margin-top: 10px; /* Отступ сверху */
    opacity: 0; /* Начальная непрозрачность */
    transition: opacity 0.5s ease; /* Плавный переход для анимации */
}

.fade-in {
    opacity: 1;
}

.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 100px;
    margin-top: -30px;
    margin-left: -25px;
    transform: translate(0, 0);
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease;

    &.show {
        opacity: 1;
    }

    &.success {
        color: #000000;
    }

    &.info {
        color: #f321a3;
    }
} 