@import url("header.css");
@import url("nav.css");
@import url("lil_nav.css");
@import url("footer.css");
@import url("global.css");

.hero-hello {
    margin-bottom: 20px;
}

/* Анимация для заголовка H1 14*/
h1 {
    transition: transform 0.3s;
}
h1:hover {
    transform: scale(1.2);
}

/* Анимация для параграфа текста 14*/
.animated-paragraph {
    transition: background-color 0.5s;
}
.animated-paragraph.clicked {
    background-color: rgb(219, 101, 182);
}

.cat_user {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    padding: 15px;
    background-color: rgb(241, 178, 213);
    transition: transform 0.3s;
}

.cat_user:hover {
    transform: rotate(360deg);
}

.info {
    padding: 2rem;
}

.frontend, .backend {
    margin-bottom: 3rem;
}

.ratio iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .cat_user {
        width: 200px;
        margin-top: 1rem;
    }
    
    .info {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .cat_user {
        width: 150px;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.25rem;
    }
}

/* Стили для видео контейнера */
.video-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.ratio iframe {
    border: none;
}

/* Адаптивность */
@media (max-width: 768px) {
    .video-container {
        margin: 0 10px;
    }
}