nav {
    background: linear-gradient(to right, #aa7da4, #6e1152);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    justify-content: space-around !important;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #fff !important;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #641343;
}

.navbar-nav .nav-link:active {
    background-color: #e781c0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    nav ul li {
        margin-bottom: 15px;
        text-align: center;
    }

    nav ul li a {
        font-size: 16px;
    }

    nav ul li a:hover {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 14px;
    }

    nav ul li a:hover {
        font-size: 16px;
    }
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 0.2rem rgba(231, 231, 231, 0.25) !important;
}
